<!DOCTYPE html>
<html>
<head>

    <title>Login</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h2>SmartRoute BD Login</h2>

<form method="POST">

    <input type="email"
    name="email"
    placeholder="Email"
    required>

    <input type="password"
    name="password"
    placeholder="Password"
    required>

    <input type="submit" value="Login">

</form>

<p>
    New user?
    <a href="/register">Register</a>
</p>

</body>
</html>