<!DOCTYPE html>
<html>
<head>

    <title>Payment</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h2>bKash Payment Gateway</h2>

<form method="POST">

    <label>Payment Method</label>

    <select name="payment_method">

        <option value="bKash">
            bKash
        </option>

        <option value="Nagad">
            Nagad
        </option>

        <option value="Rocket">
            Rocket
        </option>

    </select>

    <label>Mobile Number</label>

    <input type="text"
    name="mobile"
    placeholder="01XXXXXXXXX"
    required>

    <label>Account Password</label>

    <input type="password"
    name="transaction_id"
    placeholder="Enter Account Password"
    required>

    <input type="submit"
    value="Confirm Payment">

</form>

</body>
</html>