<!DOCTYPE html>
<html>
<head>

    <title>Search Route</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h2>Smart Route Search</h2>

<form method="POST">

    <input type="text"
    name="source"
    placeholder="Source"
    required>

    <input type="text"
    name="destination"
    placeholder="Destination"
    required>

    <select name="preference">

        <option value="time">
            Fastest Route
        </option>

        <option value="cost">
            Cheapest Route
        </option>

        <option value="traffic">
            Less Traffic
        </option>

    </select>

    <input type="submit" value="Find Route">

</form>

<br>

<a href="/logout">Logout</a>

</body>
</html>